{% load userprofile_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ragisteration Form</title>

    <link rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Stripe App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.resolver_match.url_name == 'profile' %}active{% endif %}">
              <a class="nav-link" href="/profile/">Profile</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'subscriptions' %}active{% endif %}">
              <a class="nav-link" href="/profile/subscriptions">Subscriptions</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="/accounts/logout/">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
          </form>
        </div>
      </nav>

    <div class="container">
        
        <h1>Welcome {{ user.username }}</h1>
        <hr>
        <h3>Your Subscription: </h3>
        {% if customer_info.subscriptions.total_count > 0 %}
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title">{{subscription_plan.name}}</h5>
                <p class="card-text">{{subscription_plan.description}}<br> Renewed at <b>${{ subscription_prices.data.0.unit_amount|divide:100 }}</b>/Month</p>
                {% if customer_info.subscriptions.data.0.status == "trialing" %}
                <p>You are on a free trail till <b>{{ customer_info.subscriptions.data.0.trial_end|tsToDate:"%b %-d, %Y" }}</b></p>
                {% elif customer_info.subscriptions.data.0.status == "active" %}
                <span class="badge badge-info">Active</span>
                {% endif %}
                {% if customer_info.subscriptions.data.0.cancel_at_period_end == False %}
                <form action="/profile/subscription/cancel/" method="POST">
                    {% csrf_token %}
                    <p>Cancel anytime.</p>
                    <input type="hidden" name="subscribeID" value="{{ customer_info.subscriptions.data.0.id }}" />
                    <button type="submit" class="btn btn-primary" >Cancel</button>
                </form>
                {% endif %}
                {% if customer_info.subscriptions.data.0.cancel_at_period_end == True %}
                <form action="/profile/subscription/resume/" method="POST">
                    {% csrf_token %}
                    <p>You canceled your subscription. Your subscription end on {{ customer_info.subscriptions.data.0.cancel_at|tsToDate:"%b %-d, %Y" }}</p>
                    <input type="hidden" name="subscribeID" value="{{ customer_info.subscriptions.data.0.id }}" />
                    <button type="submit" class="btn btn-primary" >Resume</button>
                </form>
                {% endif %}
                </form>
            </div>
        </div>
        {% else %}
        <p>No Subscription</p>
        {% endif %}
        <hr>
        <h3>Available Plans: </h3>
        <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h5 class="card-title">{{subscription_plan.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Start 7 day free trail for Premium Plan</h6>
              <p class="card-text">{{subscription_plan.description}}<br> Renewed at <b>${{ subscription_prices.data.0.unit_amount|divide:100 }}</b>/Month</p>
              
                <form action="/profile/subscription/create-checkout-session/" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="priceId" value="{{ subscription_prices.data.0.id }}" />
                    <button type="submit" class="btn btn-primary" {% if customer_info.subscriptions.total_count > 0 %} disabled{% endif %}>Subscribe</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>